.box
  = week_calendar table: {class: "table table-hover"}, header: {class: 'box-header'}, title: ->(start_date) { content_tag :h3, "#{I18n.t("date.month_names")[start_date.month]} #{start_date.year}", class: "box-title" }, previous_link: ->(param, date_range) { link_to(raw("&laquo;"), {param => date_range.first - 1.day}, {class: 'pull-left previous-week-link'}) }, next_link: ->(param, date_range) { link_to(raw("&raquo;"), {param => date_range.last + 1.day}, class: 'next-week-link pull-left') } do |date|
    = l(date)